                                                                License Exam Manual
                        information currently available. Owing to the nature of license examinations,
                        LIFE AND HEALTH LICENSE EXAM MANUAL, 1ST EDITION
                                licensing exam. Our goal is provide you with the information needed in order to learn the language of
                                Absolutely! This book is designed around the state licensing exam. Each testing provider distributes an exam
                             and one last time just before you take your insurance license exam. Updates are located in your online tools on
                                    foundation for passing your insurance licensing exam. When you begin studying you might struggle
        2          Life and Health License Exam Manual, 1st Edition
        4          Life and Health License Exam Manual, 1st Edition
        6          Life and Health License Exam Manual, 1st Edition
        8          Life and Health License Exam Manual, 1st Edition
        10           Life and Health License Exam Manual, 1st Edition
        12         Life and Health License Exam Manual, 1st Edition
                               lines intermediaries because they are only licensed in a few states.
        14         Life and Health License Exam Manual, 1st Edition
        16         Life and Health License Exam Manual, 1st Edition
                   States usually require companies to have a license to sell insurance in the state. The license is called a
                   Certificate of Authority. When a company is licensed it is called admitted or authorized.
                   to have a license. These companies are then called nonadmitted, unauthorized, or nonapproved.
                          Authorized vs. Unauthorized Insurers                              license for an insurance
                                                                                                     rate than licensed/admitted
        18         Life and Health License Exam Manual, 1st Edition
                               4. States require companies to have a license to sell insurance in the state. The license is called
                                  B. a reinsurance license
                                  C. a producer’s license
                                  D. an admittance license
        20         Life and Health License Exam Manual, 1st Edition
                               hires an agent to sell its insurance policies. To perform this act the agent must conduct appointments,
        22         Life and Health License Exam Manual, 1st Edition
        24         Life and Health License Exam Manual, 1st Edition
        26         Life and Health License Exam Manual, 1st Edition
        28         Life and Health License Exam Manual, 1st Edition
        30           Life and Health License Exam Manual, 1st Edition
        32         Life and Health License Exam Manual, 1st Edition
        34         Life and Health License Exam Manual, 1st Edition
                            Certificate of Authority—state license for an insurance company
        36         Life and Health License Exam Manual, 1st Edition
                          ■ Cannot be sold just for a cheaper rate than licensed/admitted insurers
        38           Life and Health License Exam Manual, 1st Edition
        40           Life and Health License Exam Manual, 1st Edition
        42         Life and Health License Exam Manual, 1st Edition
        44         Life and Health License Exam Manual, 1st Edition
        46         Life and Health License Exam Manual, 1st Edition
        48         Life and Health License Exam Manual, 1st Edition
                          ■ Driver’s license number
        50         Life and Health License Exam Manual, 1st Edition
        52         Life and Health License Exam Manual, 1st Edition
        54         Life and Health License Exam Manual, 1st Edition
                   During the delivery appointment, the producer will review with the policyowner the policy, riders,
                   During the delivery appointment, the agent/producer must collect the first premium if it was not paid
        56           Life and Health License Exam Manual, 1st Edition
        58           Life and Health License Exam Manual, 1st Edition
        60         Life and Health License Exam Manual, 1st Edition
        62         Life and Health License Exam Manual, 1st Edition
        64         Life and Health License Exam Manual, 1st Edition
        68         Life and Health License Exam Manual, 1st Edition
        70         Life and Health License Exam Manual, 1st Edition
        72         Life and Health License Exam Manual, 1st Edition
        74         Life and Health License Exam Manual, 1st Edition
        76         Life and Health License Exam Manual, 1st Edition
        78         Life and Health License Exam Manual, 1st Edition
        80         Life and Health License Exam Manual, 1st Edition
        82         Life and Health License Exam Manual, 1st Edition
        84           Life and Health License Exam Manual, 1st Edition
        86         Life and Health License Exam Manual, 1st Edition
        88         Life and Health License Exam Manual, 1st Edition
        90           Life and Health License Exam Manual, 1st Edition
        92         Life and Health License Exam Manual, 1st Edition
        94         Life and Health License Exam Manual, 1st Edition
        96         Life and Health License Exam Manual, 1st Edition
        98         Life and Health License Exam Manual, 1st Edition
        100        Life and Health License Exam Manual, 1st Edition
                          ■ Agents selling variable policies must have a valid life insurance license. An additional variable
                            products license is required in some states.
                            the necessary licenses.
                                      Variable Policies                                                  • Must have life insurance license
                                                                                                           & securities license
        102        Life and Health License Exam Manual, 1st Edition
                                            C. agents who sell variable life must be licensed to sell insurance by the state and also
        104          Life and Health License Exam Manual, 1st Edition
