                         Lesson 1.2: Account Registrations 7
                         Lesson 20.2: Registration Requirements 517
                     No. However, in order for a Series 7 registration to become effective, an individual must pass
                     registration as a general securities representative. Be sure to check the Exam Tips and Content
                                     qualify for registration.
                                     for and pay a fee to FINRA through its Central Registration Depository, better known as
                                     You must have your Central Registration Depository (CRD) number available when
                      must register. The category of registration is based on the type of securities they will be selling
                      firm. That person will be registered as a principal. Registration as a principal is required for
                      1, 2018, had an existing FINRA registration, such as a Series 6 or Series 22. FINRA expects
                         f LO 1.b   Compare various account registration types for natural persons.
                         f LO 1.e   Identify the procedure for account registration changes and transfers.
                     addition to their registration as a broker-dealer.
              LESSON 1.2: ACCOUNT REGISTRATIONS
                         LO 1.b Compare various account registration types for natural persons.
                         There are many different registration types available when opening an account at a broker-                 Unit 1
                                        Transfer on death (TOD) is a type of account registration that allows the owner of the
                                        LO 1.e Identify the procedure for account registration changes and transfers.
                      The Securities Exchange Act of 1934 requires registration of an exchange with the SEC.
                                        With no SEC registration required, there is no prospectus. However, LGIP programs do have
                       registration. That would include representatives and principals, but not clerical help. Most
                                         deviation from any fundamental policy in its registration statement, including a change in
               Subject to insurance regulation                    Subject to registration with the state insurance
                       is responsible for the preparation of any paperwork necessary for the registration of the
                                        registration under state and federal law, or publicly registered either with the SEC, the state(s),
                       in SEC Rule 501. DPPs that are offered to the public must meet the SEC’s registration
                         there is no registration requirement, one of the differences between a mutual fund and a hedge
                                                             registration with the SEC, hedge funds are generally structured as limited
                                       D. Seminar registration fees
                                        Any form of registration other than an individual or joint ownership may require supporting
                                        For business registrations involving sole proprietorships or partnerships, a simple guarantee by
                                        a broker-dealer is usually sufficient. For corporate registrations and certificates in the names
                                        sold. Minors’ signatures are invalid for securities registration purposes.
                          f LO 18.a	Identify Form U4 reporting requirements.
                          LO 18.a Identify Form U4 reporting requirements.
                          Form U4
                          Registration as an associated person of a FINRA member firm requires the filing of Form U4.
                          The information required on Form U4 is extensive and includes
                                       Any changes to this information require filing an amended form with the Central Registration
                                       If, during its routine review of Form U4, FINRA discovers that any portion of the
                                                   It is not necessary to update Form U4 to note educational achievements or changes to
                                       The DRPs can be the scariest part of Form U4. Depending on your personal history, they can
                                 1.   Which type of historical information is required on Form U4?
                                      Answer: B. Form U4 requires an applicant to provide a 5-year residency history and
                                         Suspension of the membership of a member or suspension of the registration of an associ­
                                          cancelation of the registration of an associated person
                      FINRA interprets the date of the offering to be the later of the effective date of the registration
                      beginning on the date reflected in the Central Registration Depository (CRD®) system as
                      After the first year of registration, a member firm is now established. From this point, the firm
                       Unless the issue is exempt from registration (coming up in the next lesson), the issuer (the
